.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImg {
  max-height: 250px;
}

.feature {
  display: flex;
  flex-wrap: wrap;
  margin: 80px calc(var(--ifm-spacing-horizontal) * -1);
}
