.clientSvg {
  height: auto;
  width: 150px;
  opacity: 0.5;
  margin: 20px;
}

.clientSvg:hover {
  opacity: 1;
}

.clients {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--ifm-hero-background-color);
}